* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: #f5f4f4;
}

body {
    font-family: Helvetica, sans-serif;
/*    padding: 1em 10vw 3em 10vw;*/
}

a {
    color: #eb5c6e;
    text-decoration: none;
}

p, h1, h2, h3 {
    color: #2d2d2d;

}

p {
    max-width: 30em;
    line-height: 150%;
    padding-top:0.25em;
    padding-bottom: 2em;

}

h1 {
    font-size: 2.8em;
}

h2 {
    font-size: 1.6em;
    font-weight: bold;
}

h3 {
    font-size: 1em;
    font-weight: normal;
    color: #eb5c6e;
}

ul {
    list-style-type: circle;
}

ol {
    list-style: lower-roman;
}

header, footer {
    width: 100%;
    height: auto;
    padding: 4em 0;
    position: relative;
}

footer {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    
    flex-wrap: -webkit-wrap;
    flex-wrap: -ms-wrap;
    flex-wrap: wrap;
    
    justify-content: space-around;
}

/* header banner code inspired by https://ryohin-keikaku.jp/csr/ */

.banner.about-banner {
    background-image: url(../img/banner/assorted-items-copy.jpg);
}

.banner.collection-banner {
    background-image: url(../img/banner/white-boxes.jpg);
    opacity: 0.75;
}

.banner.contact-banner {
    background-image: url(../img/banner/cartridge-shell-banner.jpg);
}

.banner {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0;
}

header h1, header h2 {
    padding: 0 10vw;
    margin: 0;
}

footer .footer-desc, footer .contact {
    flex: 1 1 100%;
    margin-bottom: 1.5em;
}

footer h2, footer p {
    color: #f5f4f4;
}

@media (max-width: 43.1em) {
    footer {
        padding: 4em 30vw 4em 10vw;
    }
    
    .banner.contact-banner {
        background-position: left;
        left: -10em;
    }
    
}
@media (min-width: 43.1em) {
    footer {
        padding: 4em 10vw 4em 60vw;   
    }
    
    .banner.contact-banner {
        left: -16em;
        right: 0em;
    }
}



/* beginning of nav bar section */

#nav-bar {
    display: -webkit-flex;
    display: -ms-flex;
    display:flex;

    flex-wrap: -webkit-wrap;
    flex-wrap: -ms-wrap;
    flex-wrap: wrap;

    justify-content: space-around;
    padding: 1.5em 10vw 1.5em 10vw;

}

@media (max-width: 48.1em) {
    #logo, nav, nav a {
        flex: 1 1 100%;
        margin: 0;
        text-align: center;
    }
    
    #logo, nav a {
        padding: 0.6em 0;
        border-bottom: solid 1px;
    }
    
    nav a:hover, nav a:active, nav a:focus {
        background-color: #ffffff;
        transition: background-color 0.2s;
    }
    
    nav {
        display: -webkit-flex;
        display: -ms-flex;
        display:flex;

        flex-wrap: -webkit-wrap;
        flex-wrap: -ms-wrap;
        flex-wrap: wrap;

        justify-content: space-around;
    }
}

@media (min-width: 48.1em) {
    #logo {
        flex: 1 1 1%;
    }
    
    nav {
        flex: 3 3 50%;
        text-align: right;
    }
    
    nav a {
        margin: 0 0 0 2em;
        padding: 0;
    }
    
    .nav-bar {
        position: static;
        top: 0;
        
        z-index: 10;
    }
}

#logo {
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    color: #eb5c6e;
}

nav a {
    color: #2d2d2d;
    text-decoration: none;
}

nav a:hover, nav a:active, nav a:focus {
    color: #eb5c6e;
    text-decoration: underline;
    transition: color 0.2s;
}

/* end of nav bar section */

.container {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;

    flex-wrap: -webkit-wrap;
    flex-wrap: -ms-wrap;
    flex-wrap: wrap;

    justify-content: space-around;
    padding: 0 10vw;
    margin-bottom: 2.5em;
}

@media (min-width: 62.5em) {
    .product-description {
        flex: 3 3 60%;
        padding-right: 5em;
        padding-bottom: 5em;
    }

    .product-description h1 {
        margin-bottom: 2em;
    }

    .product-image {
        flex: 2 2 40%;
        text-align: right;
    }

    .product-image figure {
        margin-bottom: 0.5em;
    }
    
}

@media (max-width: 62.5em) {
    .product-description {
        flex: 1 1 100%;
        padding-bottom: 5em;
        padding-top: 2em;
        
        order: 2;
    }

    .product-description h1 {
        margin-bottom: 2em;
    }

    .product-image {
        flex: 1 1 100%;
        text-align: right;
    }

    .product-image figure {
        margin-bottom: 0.5em;
    }
    
}

figure {
    margin: 0;
}

img {
    max-width: 100%;
    margin: 0;
    padding: 0;
}

.button {
    color: #f5f4f4;
    font-weight: bold;
    background-color: #eb5c6e;
    padding: 0.5em 1em;
    border-radius: 2em;
    border: 0;
}

.button:hover, .button:active, .button:focus {
    background-color: #8A1422;
    transition: background-color 0.2s;
}

.specs-container {
    flex: 3 3 30em;
    display: block;
    
    padding-bottom: 2em;
}

.specs-container h2 {
    flex: 1 1 100%;
    margin-bottom: 1em;
}

.specs-grid {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    
    flex-wrap: -webkit-wrap;
    flex-wrap: -ms-wrap;
    flex-wrap: wrap;
    
    justify-content: space-around;
}

.spec {
    flex: 1 1 33%;
    margin-bottom: 2em;
}

.reviews-container {
    flex: 2 2 20em;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    
    flex-wrap: -webkit-wrap;
    flex-wrap: -ms-wrap;
    flex-wrap: wrap;
    
    justify-content: space-around;
    
    padding-bottom: 2em;
}

.reviews-container h2 {
    flex: 1 1 50%;
}

.reviews-container a {
    flex: 1 1 50%;
    text-align: right;
    
    color: #EB5C6E;
    text-decoration: none;
}

.reviews-container a:hover, .reviews-container a:active, .reviews-container a:focus {
    color: #8A1422;
    transition: color 0.2s;
}

.review {
    flex: 1 1 100%;
    margin: 2em 0em;
}

.review h3 {
    margin-bottom: 0.6em;
}

.review p {
    color: #c1c1c1;
}


label {
    flex: 1 1 100%
}

form {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    
    flex-wrap: -webkit-wrap;
    flex-wrap: -ms-wrap;
    flex-wrap: wrap;
    
    justify-content: space-around
}

form legend {
    flex: 1 1 100%;
    padding-bottom: 1em;
}

form .half {
    flex: 1 1 50%;
    margin: 0.5em 0;
}

form .full {
    flex: 1 1 100%;
    margin: 0.5em 0;
        
}

form .buttons {
    flex: 1 1 100%;
    margin: 0.5em 0;
    text-align: right;
    display: block;
}

form .buttons input {
    color: #f5f4f4;
    padding: 0.5em 1em;
    border-radius: 0.15em;
    border: 0;
}

form textarea, form input, form select {
    padding: 0.25em;
}

form select {
    flex: 1 1 50%; 
}

.secondary-button {
    background-color: #fd9892;
}

.secondary-button:hover, .secondary-button:active, .secondary-button:focus {
    background-color: #d95c54;
    transition: background-color 0.2s;
}

.primary-button {
    background-color: #eb5c6e;
}

.primary-button:hover, .primary-button:active, .primary-button:focus {
    background-color: #8A1422;
    transition: background-color 0.2s;
}

.sort-and-filter {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    
    flex-wrap: -webkit-wrap;
    flex-wrap: -ms-wrap;
    flex-wrap: wrap;
    
    justify-content: space-around
}


@media (max-width: 48.1em) {
    
    #sortby {
        padding-top: 2em;
        padding-bottom: 0;
        flex: 1 1 100%;;
        text-align: center;
        margin: 0;
    }
    
    
    .sort-and-filter a {
        flex: 4 4 30%;
        padding: 1em 0;
    }
    
    .sort-and-filter p {
/*        display: none;*/
        flex: 1 1 5%;
        padding: 0 0.5em;
        text-align: center;
        line-height: 4em;
    }
    
}

@media (min-width: 48.1em) {
    .sort-and-filter {
        padding-top: 2em;
        flex: 1 1 90%;
    }
    
    #sortby {
        padding-top: 2em;
        padding-bottom: 0;
        flex: 1 1 10%;
    }
    
    
    .sort-and-filter a {
        flex: 1 1 10%;
    }
    
    .sort-and-filter p {
        padding: 0 0.5em;
    }
}


.sort-and-filter a {
    color: #FD9892;
    text-align: center;

}

.sort-and-filter a:active, .sort-and-filter a:focus, .sort-and-filter a:hover {
    color: #EB5C6E;
    
}

.grid {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    
    flex-wrap: -webkit-wrap;
    flex-wrap: -ms-wrap;
    flex-wrap: wrap;
    
    justify-content: space-around;
    
    margin-bottom: 2em;
}

.grid-container {
    padding: 2em 9vw;
    min-width: 20em;
}

.grid {
    display: flex;
}

@media (min-width: 30em) {
    .grid-item {
        flex: 1 1 9em;
        margin-bottom: 1em;
        margin-left: 1vw;
        margin-right: 1em;
        max-width: 9em;
/*        min-width: 9em;*/
    }
}

@media (max-width: 30em) {
    .grid-item {
        flex: 1 1 7em;
        margin-bottom: 1em;
        margin-left: 1vw;
        margin-right: 1em;
        max-width: 7em;
/*        min-width: 9em;*/
    }
}

.grid-item img:hover, .grid-item img:active, .grid-item img:focus{
    border: solid 1px #FD9892;
}

.grid-item img {
    max-width: 100%;
    border-radius: 0.4em;
}

.grid-item h3 {
    font-size: 0.8em;
    color: #2d2d2d;
}

.page-number {
    display: block;
}

.prev-button, .next-button {
    font-weight: bold;
    margin: 0 2em;
}

.checkout {
    padding: 0 9vw;
}

.checkout h1, .cart h2 {
    flex: 1 1 100%;
    padding: 0 1vw;
}

.cart h2 {
    margin-bottom: 2em;
}

.payment h1 {
    flex: 1 1 100%;
    margin-bottom: 1.5em;
}

.forms form {
    margin-bottom: 3em;
}

.forms .buttons {
    margin-bottom: 0;
    margin-top: 4em;
    text-align: left;
}

.forms .buttons a {
    padding: 0.5em 1em;
    color: #f5f4f4;
}


.forms h2 {
    margin-bottom: 1em;
}

.forms form h2 {
    margin-top: 1.5em;
}


.payment-info h3 {
    margin-top: 1.5em;
    padding: 1em 0;
}

.payment-info p {
    padding: 0;
}

.card-info {
    margin-bottom: 4em;
}

.confirm {
    text-align: center;
}

.confirm h1, .confirm .thank, .thank h2, .thank p, .thank .button-container{
    flex: 1 1 100%;
}

.confirm .thank {
    margin: 3em 0em;
    
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    
    flex-wrap: -webkit-wrap;
    flex-wrap: -ms-wrap;
    flex-wrap: wrap;
    
    justify-content: space-around;
}

.thank p {
    flex: 1 1 100%;
}

.thank p {
    margin-bottom: 2em;
}


@media (min-width: 50.1em) {
    .checkout .cart, .payment .forms, .payment-info {
        flex: 3 3 60%;
    }
    
    .payment .forms {
        padding-right: 10vw;
    }

    .receipt {
        padding: 0 2.5em;
        flex: 3 3 40%;
    }
}

@media (max-width: 50.1em) {
    .checkout .cart, .payment .forms, .payment-info{
        flex: 1 1 100%;
    }

    .receipt {
        margin-top: 2em;
        padding: 0 1vw;
        flex: 1 1 100%;
        
        padding-top: 1.5em;
        border-top: dashed 1px #c1c1c1;
    }
}

.receipt {
    display: block;
}

.receipt h2 {
    flex: 1 1 100%;
    margin-bottom: 1em;
}

.receipt div {
    flex: 1 1 100%;
    margin-bottom: 2em;
}

.receipt p {
    padding: 1.25em 0 0.2em 0;
}

.receipt .cart-button:active, .receipt .cart-button:focus, .receipt .cart-button:hover {
    color: rgb(235, 92, 110);
    text-decoration: underline;
    transition: color 0.2s;
}

.total {
    flex: 1 1 100%;
    
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    
    flex-wrap: -webkit-wrap;
    flex-wrap: -ms-wrap;
    flex-wrap: wrap;
    
    justify-content: space-around;
    
    padding-top: 0.5em;
    border-top: dashed 1px #c1c1c1;
}

.total p {
    flex: 1 1 100%;
    padding-top: 0.2em;
}

@media (max-width: 59.1em) {
    .total {
        display: block;
    }
    
    .total div {
        text-align: left;
    }
}

@media (min-width: 59.1em) {
    .total div {
        flex: 1 1 50%;
        text-align: right;
    }
}

.total h2 {
    flex: 1 1 50%;
}

.sale-text {
    flex: 2 2 40%;
    margin-bottom: 2em;
    padding-right: 3em;
}

.sale-image {
    flex: 3 3 60%;
}

.carousel h2 {
    flex: 1 1 100%;
}

.scrolling-wrapper {
    flex: 1 1 100%;
    
    padding-top: 0.5em;
    padding-bottom: 2em;
    margin-bottom: 2em;
    
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;

    flex-wrap: -webkit-wrap;
    flex-wrap: -ms-wrap;
    flex-wrap: nowrap;

    overflow-x: scroll;
    -ms-overflow-style: none;
}

.card {
    flex: 1 1 12em;
    margin-right: 1em;
}

.card h3 {
    font-size: 0.8em;
    color: #2d2d2d;
    font-weight: normal;
}

.card a {
    color: #eb5c6e;
    text-decoration: none;
}

.card a:hover, .card a:active, .card a:focus {
    color: rgb(235, 92, 110);
    text-decoration: underline;
    transition: color 0.2s;
}

.card img {
    max-width: 12em;
    border-radius: 0.4em;
}

.card img:hover, .card img:active, .card img:focus{
    border: solid 1px #FD9892;
}

.scrolling-wrapper .carousel-button {
    text-align: center;
    line-height: 12em;
    
    flex: 1 1 100%;
    color: #f5f4f4;
    font-weight: bold;
    background-color: #eb5c6e;
    
    min-width: 12em;
    min-height: 12em;
    max-height: 12em;
    max-width: 12em;
    
    border-radius: 50%;

    margin-bottom: 2em;
} 
    
.carousel-button:hover, .carousel-button:active, .carousel-button:focus {
    background-color: #8A1422;
    transition: background-color 0.2s;
}

@media (min-width: 50em) {

    .brand-text {
        flex: 2 2 40%;
    }

    .brand-text p {
        padding-top: 2em;
    }

    .brand-image {
        flex: 3 3 60%;
    }

    .history-text, .mission-text {
        padding-left: 2em;
    }

    .philosophy-text {
        padding-right: 2em;
    }
    
}

@media (max-width: 50em) {

    .brand-text {
        flex: 1 1 100%;
        margin-top: 2em;
    }

    .brand-text p {
        padding-top: 2em;
    }

    .brand-image {
        flex: 1 1 100%;
        margin-top: 3em;
    }
    
    .philosophy-text {
        order: 2;
    }
    
}

.about-description {
    padding-top: 2em;
    flex: 1 1 100%;
}

.about-description p strong, .brand-text p strong {
    color: #eb5c6e;
}

